.gallery {
  padding: 64px 0;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.wrapper-text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.gallery-title {
  font-family: 'Sora', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
}

.gallery-paragraph {
  font-size: 18px;
  text-align: center;
}

.gallery-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wraper-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wraper-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
